//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//colors
$loginLogo: #CFFA05;
$loginText1: #8C0058;
$loginText2: #909090;
$loginText3: #F06543;

body {
    background: linear-gradient(to bottom, $loginLogo 5%, $loginText3 100%);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(10px + 0.8vw);
    text-align: center;
    .frontPanel {
        width: 90vw;
        margin: 5% auto;
        padding-bottom: 10px;
        box-shadow: 0 15px 40px rgba(0,0,0,0.25);
        border-radius: 20px;
        background: linear-gradient(to bottom, white 10%, $loginLogo 100%);
        .input {
            margin: 10px;
        }
        select {
            padding: 3px;
        }
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        .logo, .user {
            animation: bounceIn 0.6s;
            transform: rotate(0deg) scale(1) translateZ(0);
            transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
            &:hover {
                transform: rotate(10deg) scale(1.1);
            }
            cursor: pointer;
            @keyframes bounceIn {
                0% {
                opacity: 1;
                transform: scale(.3);
                }

                50% {
                opacity: 1;
                transform: scale(1.05);
                }

                70% {
                opacity: 1;
                transform: scale(.9);
                }

                100% {
                opacity: 1;
                transform: scale(1);
                }
            }
        }
        .logo {
            margin: 10px 0 0 20px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 10px;
            list-style: none;
            text-decoration: none;
            color: $loginText1;
            font-size: calc(16px + 1vw);
            li {
                margin: 0 5px;
            }
            .user {
                margin-top: 10px;
            }
            .logout {
                color: $loginText2;
                font-size: 1rem;
                text-decoration: none;
                &:hover {
                    color: $loginText3;
                    text-decoration: underline;
                    font-weight: 700;
                    cursor: pointer;
                }
                &:active {
                    position: relative;
                    top:3px;
                }
            }
        }

    }
    hr {
    margin: 0 auto;
    width: 100%;
    border-top: 5px solid $loginText1;
    }
    .tagBox {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px 0 0 10px;
        .addTag {
            display: flex;
            justify-content: center;
            input[type=text] {
                padding: 3px;
                margin: 0 5px;
            }
            .fa-tags, .fa-plus {
                color: rgba(0, 0, 0, 0.6);
            }
            .fa-plus {
                cursor: pointer;
                &:hover {
                    color: $loginText1;
                }
                &:active {
                    font-size: 1.2rem;
                }

            }
        }
        .tagList {
            padding: 10px;
            font-size: 1.3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            li {
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.1);
                padding: 5px;
                margin: 5px;
                border-radius: 5px;
                .fa-times {
                    margin: 5px;
                    font-size: 0.8rem;
                    color: rgba(140, 0, 88, 0.5);
                    cursor: pointer;
                    &:hover {
                        color: black;
                    }
                    &:active {
                        font-size: 0.7rem;
                    }
                }
            }
            a {
                color: $loginText1;
                text-decoration: none;
                &:hover {
                    color: $loginText3;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
    .tasksMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        padding: 10px;
        form {
            display: flex;
            align-items: center;
        }
        input[type=text] {
            padding: 5px;
            border-radius: 20px;
        }
        .fa-plus-circle {
            padding: 10px;
            font-size: 2.2rem;
            color: $loginText1;
            font-weight: bold;
            &:hover {
                color: $loginText3;
            }
            &:active {
                font-size: 2.1rem;
            }
        }
    }
    .tasksBox {
        width: 60%;
        margin: 10px auto;
        border-radius: 10px;

        ul {
            list-style: none;
            li {
                color: white;
                background:linear-gradient(to right, $loginText1 5%, $loginText3 100%);
                padding: 10px;
                line-height: 1;
                border: 2px solid white;
                border-radius: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:first-child {
                    border-bottom: 0;
                }
                &:last-child {
                    border-top: 0;
                }
                input[type=checkbox] {
                    margin-right: 5px;
                    &:hover {
                        cursor: pointer;
                        }
                    }
                label {
                    border-radius: 50px;
                    }
                .tasksTags {
                    font-size: 1rem;
                    a {
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.9);
                        margin-right: 5px;
                    }
                }
                .buttons {
                    height: 100%;
                }

                i {
                    color: $loginText1;
                    margin: 3px;
                    &:hover {
                        cursor: pointer;
                        }
                }
                .fa-pen,
                .fa-trash-alt {
                    &:hover {
                    color: $loginLogo;
                    }
                }
            }
        }
    }
}

// login i register
.logincontainer {
    display: flex;
    width: 60%;
    margin: 5% auto;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.logoBox {
    width: 50%;
    background-image: url("../img/Group\ 14.png");
    background-size: 100% 90%;
    background-color: $loginLogo;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 20px 0 0 20px;
    img {
        margin: 20px auto;
    }
}
.loginBox,
.registerBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    .topButton {
        flex-direction: row;
        justify-content: flex-start;
    }
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    padding: 30px;
    border-radius: 0 20px 20px 0;
    .loginAnchor,
    .registerAnchor {
        padding: 10px;
        line-height: 60px;
        text-transform: uppercase;
        text-decoration: none;
        color: $loginText1;
        &:hover {
            color: $loginText3;
            font-weight: 900;
            text-decoration: none;
        }
        &:active {
            position: relative;
            top:3px;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        label {
            text-align: left;
            margin-bottom: 0;
        }
        input {
            color: $loginText3;
            font-weight: 300;
            margin: 20px auto;
            padding: 10px;
            width: 80%;
            border-bottom: 2px solid $loginText2;
        }
        ::-webkit-input-placeholder {
            color: $loginText2;
            font-weight: 300;
            letter-spacing: 1px;
        }
        input[type=submit] {
            background:-webkit-gradient(linear, left, right, color-stop(0.05, $loginLogo), color-stop(1, $loginText3));
            background:-moz-linear-gradient(right, $loginLogo 5%, $loginText3 100%);
            background:-webkit-linear-gradient(right, $loginLogo 5%, $loginText3 100%);
            background:-o-linear-gradient(right, $loginLogo 5%, $loginText3 100%);
            background:-ms-linear-gradient(right, $loginLogo 5%, $loginText3 100%);
            background:linear-gradient(right, $loginLogo 5%, $loginText3 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$loginLogo', endColorstr='$loginText3',GradientType=0);
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            cursor:pointer;
            color: white;
            width: min-content;
            margin: 10px auto;
            padding: 10px 30%;
            text-decoration: none;
            &:hover {
                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
                background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
                background-color:#e9e9e9;
                color: $loginText1;
            }
            &:active {
                position:relative;
                top:3px;
            }
}
    }
}

// Media queries

@media (max-width: 400px) {
    header {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .logoBox {
        background: none;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .tasksBox {
        width: 80%;
    }
    .logincontainer {
        background-image: url("../img/Group\ 14.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
        flex-direction: column;
        width: 80%;
        .loginBox,
        .registerBox {
            width: 100%;
            border-radius: 0 0 20px 20px;
        }
    }
}

@media (min-height: 500px) {
    .frontPanel {
        width: auto;
        padding: 50px;
    }
}

@media (max-height: 500px) and (max-width:800px){
    .logincontainer {
        border-radius: 20px 20px 0 0;
    }
}
